In [18]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [19]:
# Load the dataset
data = pd.read_csv('test_set_features.csv')

data.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26708 entries, 0 to 26707
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26708 non-null  int64
 1   xyz_concern                  26623 non-null  float64
 2   xyz_knowledge                26586 non-null  float64
 3   behavioral_antiviral_meds    26629 non-null  float64
 4   behavioral_avoidance         26495 non-null  float64
 5   behavioral_face_mask         26689 non-null  float64
 6   behavioral_wash_hands        26668 non-null  float64
 7   behavioral_large_gatherings  26636 non-null  float64
 8   behavioral_outside_home      26626 non-null  float64
 9   behavioral_touch_face        26580 non-null  float64
 10  doctor_recc_xyz              24548 non-null  float64
 11  doctor_recc_seasonal         24548 non-null  float64
 12  chronic_med_condition        25776 non-null  float64
 13  child_under_6_months         25895 non-null  float64
 14  health_worker                25919 non-null  float64
 15  health_insurance             14480 non-null  float64
 16  opinion_xyz_vacc_effective   26310 non-null  float64
 17  opinion_xyz_risk             26328 non-null  float64
 18  opinion_xyz_sick_from_vacc   26333 non-null  float64
 19  opinion_seas_vacc_effective  26256 non-null  float64
 20  opinion_seas_risk            26209 non-null  float64
 21  opinion_seas_sick_from_vacc  26187 non-null  float64
 22  age_group                    26708 non-null  object
 23  education                    25301 non-null  object
 24  race                         26708 non-null  object
 25  sex                          26708 non-null  object
 26  income_poverty               22211 non-null  object
 27  marital_status               25266 non-null  object
 28  rent_or_own                  24672 non-null  object
 29  employment_status            25237 non-null  object
 30  hhs_geo_region               26708 non-null  object
 31  census_msa                   26708 non-null  object
 32  household_adults             26483 non-null  float64
 33  household_children           26483 non-null  float64
 34  employment_industry          13433 non-null  object
 35  employment_occupation        13282 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 7.3+ MB

In [21]:
data = data.drop(['hhs_geo_region', 'employment_industry', 'employment_occupation'], axis=1)

In [22]:
data.isnull().sum()

respondent_id                      0
xyz_concern                       85
xyz_knowledge                    122
behavioral_antiviral_meds         79
behavioral_avoidance             213
behavioral_face_mask              19
behavioral_wash_hands             40
behavioral_large_gatherings       72
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            932
child_under_6_months             813
health_worker                    789
health_insurance               12228
opinion_xyz_vacc_effective       398
opinion_xyz_risk                 380
opinion_xyz_sick_from_vacc       375
opinion_seas_vacc_effective      452
opinion_seas_risk                499
opinion_seas_sick_from_vacc      521
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4497
marital_status                  1442
rent_or_own                     2036
employment_status               1471
census_msa                         0
household_adults                 225
household_children               225
dtype: int64

In [23]:
# Fill missing values with the NA for categorical columns
for col in data.select_dtypes(include=['object']).columns:
    data[col].fillna('NA', inplace=True)

# Fill missing values with -1 for numerical columns
for col in data.select_dtypes(include=['number']).columns:
    data[col].fillna(-1, inplace=True)
    
data.isnull().sum()

C:\Users\risha\AppData\Local\Temp\ipykernel_26448\3516430384.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna('NA', inplace=True)
C:\Users\risha\AppData\Local\Temp\ipykernel_26448\3516430384.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(-1, inplace=True)

respondent_id                  0
xyz_concern                    0
xyz_knowledge                  0
behavioral_antiviral_meds      0
behavioral_avoidance           0
behavioral_face_mask           0
behavioral_wash_hands          0
behavioral_large_gatherings    0
behavioral_outside_home        0
behavioral_touch_face          0
doctor_recc_xyz                0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
opinion_xyz_vacc_effective     0
opinion_xyz_risk               0
opinion_xyz_sick_from_vacc     0
opinion_seas_vacc_effective    0
opinion_seas_risk              0
opinion_seas_sick_from_vacc    0
age_group                      0
education                      0
race                           0
sex                            0
income_poverty                 0
marital_status                 0
rent_or_own                    0
employment_status              0
census_msa                     0
household_adults               0
household_children             0
dtype: int64

In [24]:
data.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,census_msa,household_adults,household_children
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,College Graduate,Hispanic,Female,"> $75,000",Not Married,Rent,Employed,"MSA, Not Principle City",1.0,0.0
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,Non-MSA,3.0,0.0
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,College Graduate,White,Male,"> $75,000",Married,Own,Employed,Non-MSA,1.0,0.0
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12 Years,White,Female,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,"MSA, Not Principle City",1.0,0.0
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,12 Years,Black,Female,"<= $75,000, Above Poverty",Not Married,Own,Employed,Non-MSA,0.0,1.0

In [25]:
data.set_index('respondent_id', inplace=True)

In [26]:
# Identify numerical columns with more than 2 unique values
numerical_cols = data.select_dtypes(include=['number']).columns
numerical_categorical_cols = [col for col in numerical_cols if data[col].nunique() > 2]

# Convert these columns to categorical
for col in numerical_categorical_cols:
    data[col] = data[col].astype('category')

In [27]:
from sklearn.preprocessing import OneHotEncoder

# One-hot encode categorical features
categorical_cols = data.select_dtypes(include=['category', 'object']).columns
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)
data.head()

,xyz_concern_0.0,xyz_concern_1.0,xyz_concern_2.0,xyz_concern_3.0,xyz_knowledge_0.0,xyz_knowledge_1.0,xyz_knowledge_2.0,behavioral_antiviral_meds_0.0,behavioral_antiviral_meds_1.0,behavioral_avoidance_0.0,...,"census_msa_MSA, Principle City",census_msa_Non-MSA,household_adults_0.0,household_adults_1.0,household_adults_2.0,household_adults_3.0,household_children_0.0,household_children_1.0,household_children_2.0,household_children_3.0
respondent_id,,,,,,,,,,,,,,,,,,,,,
26707,False,False,True,False,False,False,True,True,False,False,...,False,False,False,True,False,False,True,False,False,False
26708,False,True,False,False,False,True,False,True,False,True,...,False,True,False,False,False,True,True,False,False,False
26709,False,False,True,False,False,False,True,True,False,True,...,False,True,False,True,False,False,True,False,False,False
26710,False,True,False,False,False,True,False,True,False,True,...,False,False,False,True,False,False,True,False,False,False
26711,False,False,False,True,False,True,False,False,True,False,...,False,True,True,False,False,False,False,True,False,False

In [28]:
data.columns

Index(['xyz_concern_0.0', 'xyz_concern_1.0', 'xyz_concern_2.0',
       'xyz_concern_3.0', 'xyz_knowledge_0.0', 'xyz_knowledge_1.0',
       'xyz_knowledge_2.0', 'behavioral_antiviral_meds_0.0',
       'behavioral_antiviral_meds_1.0', 'behavioral_avoidance_0.0',
       'behavioral_avoidance_1.0', 'behavioral_face_mask_0.0',
       'behavioral_face_mask_1.0', 'behavioral_wash_hands_0.0',
       'behavioral_wash_hands_1.0', 'behavioral_large_gatherings_0.0',
       'behavioral_large_gatherings_1.0', 'behavioral_outside_home_0.0',
       'behavioral_outside_home_1.0', 'behavioral_touch_face_0.0',
       'behavioral_touch_face_1.0', 'doctor_recc_xyz_0.0',
       'doctor_recc_xyz_1.0', 'doctor_recc_seasonal_0.0',
       'doctor_recc_seasonal_1.0', 'chronic_med_condition_0.0',
       'chronic_med_condition_1.0', 'child_under_6_months_0.0',
       'child_under_6_months_1.0', 'health_worker_0.0', 'health_worker_1.0',
       'health_insurance_0.0', 'health_insurance_1.0',
       'opinion_xyz_vacc_effective_1.0', 'opinion_xyz_vacc_effective_2.0',
       'opinion_xyz_vacc_effective_3.0', 'opinion_xyz_vacc_effective_4.0',
       'opinion_xyz_vacc_effective_5.0', 'opinion_xyz_risk_1.0',
       'opinion_xyz_risk_2.0', 'opinion_xyz_risk_3.0', 'opinion_xyz_risk_4.0',
       'opinion_xyz_risk_5.0', 'opinion_xyz_sick_from_vacc_1.0',
       'opinion_xyz_sick_from_vacc_2.0', 'opinion_xyz_sick_from_vacc_3.0',
       'opinion_xyz_sick_from_vacc_4.0', 'opinion_xyz_sick_from_vacc_5.0',
       'opinion_seas_vacc_effective_1.0', 'opinion_seas_vacc_effective_2.0',
       'opinion_seas_vacc_effective_3.0', 'opinion_seas_vacc_effective_4.0',
       'opinion_seas_vacc_effective_5.0', 'opinion_seas_risk_1.0',
       'opinion_seas_risk_2.0', 'opinion_seas_risk_3.0',
       'opinion_seas_risk_4.0', 'opinion_seas_risk_5.0',
       'opinion_seas_sick_from_vacc_1.0', 'opinion_seas_sick_from_vacc_2.0',
       'opinion_seas_sick_from_vacc_3.0', 'opinion_seas_sick_from_vacc_4.0',
       'opinion_seas_sick_from_vacc_5.0', 'age_group_35 - 44 Years',
       'age_group_45 - 54 Years', 'age_group_55 - 64 Years',
       'age_group_65+ Years', 'education_< 12 Years',
       'education_College Graduate', 'education_NA', 'education_Some College',
       'race_Hispanic', 'race_Other or Multiple', 'race_White', 'sex_Male',
       'income_poverty_> $75,000', 'income_poverty_Below Poverty',
       'income_poverty_NA', 'marital_status_NA', 'marital_status_Not Married',
       'rent_or_own_Own', 'rent_or_own_Rent', 'employment_status_NA',
       'employment_status_Not in Labor Force', 'employment_status_Unemployed',
       'census_msa_MSA, Principle City', 'census_msa_Non-MSA',
       'household_adults_0.0', 'household_adults_1.0', 'household_adults_2.0',
       'household_adults_3.0', 'household_children_0.0',
       'household_children_1.0', 'household_children_2.0',
       'household_children_3.0'],
      dtype='object')

In [29]:
data.to_csv('test.csv')