In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df1 = pd.read_csv('training_set_features.csv')
df2 = pd.read_csv('training_set_labels.csv')
data = pd.merge(df1, df2, on='respondent_id')

data.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26615 non-null  float64
 2   xyz_knowledge                26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_xyz              24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_xyz_vacc_effective   26316 non-null  float64
 17  opinion_xyz_risk             26319 non-null  float64
 18  opinion_xyz_sick_from_vacc   26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
 36  xyz_vaccine                  26707 non-null  int64
 37  seasonal_vaccine             26707 non-null  int64
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB

In [4]:
data = data.drop(['hhs_geo_region', 'employment_industry', 'employment_occupation'], axis=1)

In [5]:
data.isnull().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
census_msa                         0
household_adults                 249
household_children               249
xyz_vaccine                        0
seasonal_vaccine                   0
dtype: int64

In [6]:
# Fill missing values with the NA for categorical columns
for col in data.select_dtypes(include=['object']).columns:
    data[col].fillna('NA', inplace=True)

# Fill missing values with -1 for numerical columns
for col in data.select_dtypes(include=['number']).columns:
    data[col].fillna(-1, inplace=True)
    
data.isnull().sum()

C:\Users\risha\AppData\Local\Temp\ipykernel_17952\1568914685.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna('NA', inplace=True)
C:\Users\risha\AppData\Local\Temp\ipykernel_17952\1568914685.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(-1, inplace=True)

respondent_id                  0
xyz_concern                    0
xyz_knowledge                  0
behavioral_antiviral_meds      0
behavioral_avoidance           0
behavioral_face_mask           0
behavioral_wash_hands          0
behavioral_large_gatherings    0
behavioral_outside_home        0
behavioral_touch_face          0
doctor_recc_xyz                0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
opinion_xyz_vacc_effective     0
opinion_xyz_risk               0
opinion_xyz_sick_from_vacc     0
opinion_seas_vacc_effective    0
opinion_seas_risk              0
opinion_seas_sick_from_vacc    0
age_group                      0
education                      0
race                           0
sex                            0
income_poverty                 0
marital_status                 0
rent_or_own                    0
employment_status              0
census_msa                     0
household_adults               0
household_children             0
xyz_vaccine                    0
seasonal_vaccine               0
dtype: int64

In [7]:
data.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,sex,income_poverty,marital_status,rent_or_own,employment_status,census_msa,household_adults,household_children,xyz_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0,0

In [8]:
data.set_index('respondent_id', inplace=True)

In [9]:
# Identify numerical columns with more than 2 unique values
numerical_cols = data.select_dtypes(include=['number']).columns
numerical_categorical_cols = [col for col in numerical_cols if data[col].nunique() > 2]

# Convert these columns to categorical
for col in numerical_categorical_cols:
    data[col] = data[col].astype('category')

In [10]:
from sklearn.preprocessing import OneHotEncoder

# One-hot encode categorical features
categorical_cols = data.select_dtypes(include=['category', 'object']).columns
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)
data.head()

,xyz_vaccine,seasonal_vaccine,xyz_concern_0.0,xyz_concern_1.0,xyz_concern_2.0,xyz_concern_3.0,xyz_knowledge_0.0,xyz_knowledge_1.0,xyz_knowledge_2.0,behavioral_antiviral_meds_0.0,...,"census_msa_MSA, Principle City",census_msa_Non-MSA,household_adults_0.0,household_adults_1.0,household_adults_2.0,household_adults_3.0,household_children_0.0,household_children_1.0,household_children_2.0,household_children_3.0
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,False,True,False,False,True,False,False,True,...,False,True,True,False,False,False,True,False,False,False
1,0,1,False,False,False,True,False,False,True,True,...,False,False,True,False,False,False,True,False,False,False
2,0,0,False,True,False,False,False,True,False,True,...,False,False,False,False,True,False,True,False,False,False
3,0,1,False,True,False,False,False,True,False,True,...,True,False,True,False,False,False,True,False,False,False
4,0,0,False,False,True,False,False,True,False,True,...,False,False,False,True,False,False,True,False,False,False

In [11]:
data.columns

Index(['xyz_vaccine', 'seasonal_vaccine', 'xyz_concern_0.0', 'xyz_concern_1.0',
       'xyz_concern_2.0', 'xyz_concern_3.0', 'xyz_knowledge_0.0',
       'xyz_knowledge_1.0', 'xyz_knowledge_2.0',
       'behavioral_antiviral_meds_0.0', 'behavioral_antiviral_meds_1.0',
       'behavioral_avoidance_0.0', 'behavioral_avoidance_1.0',
       'behavioral_face_mask_0.0', 'behavioral_face_mask_1.0',
       'behavioral_wash_hands_0.0', 'behavioral_wash_hands_1.0',
       'behavioral_large_gatherings_0.0', 'behavioral_large_gatherings_1.0',
       'behavioral_outside_home_0.0', 'behavioral_outside_home_1.0',
       'behavioral_touch_face_0.0', 'behavioral_touch_face_1.0',
       'doctor_recc_xyz_0.0', 'doctor_recc_xyz_1.0',
       'doctor_recc_seasonal_0.0', 'doctor_recc_seasonal_1.0',
       'chronic_med_condition_0.0', 'chronic_med_condition_1.0',
       'child_under_6_months_0.0', 'child_under_6_months_1.0',
       'health_worker_0.0', 'health_worker_1.0', 'health_insurance_0.0',
       'health_insurance_1.0', 'opinion_xyz_vacc_effective_1.0',
       'opinion_xyz_vacc_effective_2.0', 'opinion_xyz_vacc_effective_3.0',
       'opinion_xyz_vacc_effective_4.0', 'opinion_xyz_vacc_effective_5.0',
       'opinion_xyz_risk_1.0', 'opinion_xyz_risk_2.0', 'opinion_xyz_risk_3.0',
       'opinion_xyz_risk_4.0', 'opinion_xyz_risk_5.0',
       'opinion_xyz_sick_from_vacc_1.0', 'opinion_xyz_sick_from_vacc_2.0',
       'opinion_xyz_sick_from_vacc_3.0', 'opinion_xyz_sick_from_vacc_4.0',
       'opinion_xyz_sick_from_vacc_5.0', 'opinion_seas_vacc_effective_1.0',
       'opinion_seas_vacc_effective_2.0', 'opinion_seas_vacc_effective_3.0',
       'opinion_seas_vacc_effective_4.0', 'opinion_seas_vacc_effective_5.0',
       'opinion_seas_risk_1.0', 'opinion_seas_risk_2.0',
       'opinion_seas_risk_3.0', 'opinion_seas_risk_4.0',
       'opinion_seas_risk_5.0', 'opinion_seas_sick_from_vacc_1.0',
       'opinion_seas_sick_from_vacc_2.0', 'opinion_seas_sick_from_vacc_3.0',
       'opinion_seas_sick_from_vacc_4.0', 'opinion_seas_sick_from_vacc_5.0',
       'age_group_35 - 44 Years', 'age_group_45 - 54 Years',
       'age_group_55 - 64 Years', 'age_group_65+ Years',
       'education_< 12 Years', 'education_College Graduate', 'education_NA',
       'education_Some College', 'race_Hispanic', 'race_Other or Multiple',
       'race_White', 'sex_Male', 'income_poverty_> $75,000',
       'income_poverty_Below Poverty', 'income_poverty_NA',
       'marital_status_NA', 'marital_status_Not Married', 'rent_or_own_Own',
       'rent_or_own_Rent', 'employment_status_NA',
       'employment_status_Not in Labor Force', 'employment_status_Unemployed',
       'census_msa_MSA, Principle City', 'census_msa_Non-MSA',
       'household_adults_0.0', 'household_adults_1.0', 'household_adults_2.0',
       'household_adults_3.0', 'household_children_0.0',
       'household_children_1.0', 'household_children_2.0',
       'household_children_3.0'],
      dtype='object')

In [12]:
# Calculate the correlation matrix
corr_matrix = data.corr().abs()


# # Plot the correlation matrix
# plt.figure(figsize=(10, 8))
# sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', vmin=-1, vmax=1)
# plt.title('Correlation Matrix')
# plt.show()

In [13]:
# Identify columns with a correlation greater than a specified threshold
threshold = 0.7
upper = corr_matrix.where(
    np.triu(np.ones(corr_matrix.shape), k=1).astype(bool)
)
to_drop = [column for column in upper.columns if any(upper[column] > threshold)]

# Drop the highly correlated features
data.drop(columns=to_drop, inplace=True)
data.head()

,xyz_vaccine,seasonal_vaccine,xyz_concern_0.0,xyz_concern_1.0,xyz_concern_2.0,xyz_concern_3.0,xyz_knowledge_0.0,xyz_knowledge_1.0,behavioral_antiviral_meds_0.0,behavioral_avoidance_0.0,...,employment_status_Unemployed,"census_msa_MSA, Principle City",census_msa_Non-MSA,household_adults_0.0,household_adults_2.0,household_adults_3.0,household_children_0.0,household_children_1.0,household_children_2.0,household_children_3.0
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,False,True,False,False,True,False,True,True,...,False,False,True,True,False,False,True,False,False,False
1,0,1,False,False,False,True,False,False,True,False,...,False,False,False,True,False,False,True,False,False,False
2,0,0,False,True,False,False,False,True,True,False,...,False,False,False,False,True,False,True,False,False,False
3,0,1,False,True,False,False,False,True,True,False,...,False,True,False,True,False,False,True,False,False,False
4,0,0,False,False,True,False,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False

In [14]:
data.to_csv('train.csv')